In [1]:
import glob
import pandas as pd
import re

In [2]:
csv_files = glob.glob('./*.csv')
dataframes=[]
col_names_list = []
for x in csv_files:
    dataframes.append(pd.read_csv(x))
    col_names_list.append(list(dataframes[-1].columns))

C:\Users\smong\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
#checks to see if the df has anything to signify country
[[csv_files[y],sum([bool(re.search('ountry',x)) for x in col_names_list[y]])>0] for y in range(len(col_names_list))]

[['.\\city_temperature.csv', True],
 ['.\\EdStatsData.csv', True],
 ['.\\global-city-population-estimates-CITIES-OVER-300K.csv', True],
 ['.\\Qol_data.csv', False],
 ['.\\WPP2019_PopulationByAgeSex_Medium.csv', False],
 ['.\\WRP national data.csv', False]]

In [4]:
Temp_df = dataframes[0].copy()
Ed_df = dataframes[1].copy()
City_pop_df = dataframes[2].copy()
QoL_df = dataframes[3].copy()
Age_df = dataframes[4].copy()
Rel_df = dataframes[5].copy()

In [5]:
for idx in range(6):
    names = col_names_list[idx]
    print(idx)
    print('csv file:' + csv_files[idx])
    for name in names:
        if bool(re.search('ountry',name)):
                print('column name:' + name + '\n','first entry:' + str(dataframes[idx][name][0]) + '\n')

0
csv file:.\city_temperature.csv
column name:Country
 first entry:Algeria

1
csv file:.\EdStatsData.csv
column name:Country Name
 first entry:Arab World

column name:Country Code
 first entry:ARB

2
csv file:.\global-city-population-estimates-CITIES-OVER-300K.csv
column name:Country Code
 first entry:392

column name:Country or area
 first entry:Japan

3
csv file:.\Qol_data.csv
4
csv file:.\WPP2019_PopulationByAgeSex_Medium.csv
5
csv file:.\WRP national data.csv

In [6]:
QoL_df.head()

,year,City,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index
0,2012-Q1,"Berlin, Germany",215.25,140.62,77.34,64.81,89.06,5.74,23.00,40.00
1,2012-Q1,"Zurich, Switzerland",213.18,136.31,83.85,77.78,166.07,8.27,27.33,26.50
2,2012-Q1,"Edmonton, Canada",204.86,124.69,58.98,78.89,112.10,3.59,35.33,21.25
3,2012-Q1,"Perth, Australia",196.00,118.34,48.75,87.04,142.18,5.24,27.00,15.00
4,2012-Q1,"Calgary, Canada",190.78,124.25,71.88,70.42,111.71,4.58,62.00,25.08

In [7]:
city_list = list(dataframes[3].copy()['City'].str.split(','))
country_list = []
city_list_df = []
for city in city_list:
    country_list = city[-1]
    city_list_df = city[0]
QoL_df['Country'] = country_list
QoL_df['City'] = city_list_df
QoL_df.head()

,year,City,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Country
0,2012-Q1,Tehran,215.25,140.62,77.34,64.81,89.06,5.74,23.00,40.00,Iran
1,2012-Q1,Tehran,213.18,136.31,83.85,77.78,166.07,8.27,27.33,26.50,Iran
2,2012-Q1,Tehran,204.86,124.69,58.98,78.89,112.10,3.59,35.33,21.25,Iran
3,2012-Q1,Tehran,196.00,118.34,48.75,87.04,142.18,5.24,27.00,15.00,Iran
4,2012-Q1,Tehran,190.78,124.25,71.88,70.42,111.71,4.58,62.00,25.08,Iran

In [8]:
dataframes[5]['name'].unique()

array(['USA', 'CAN', 'BHM', 'CUB', 'HAI', 'DOM', 'JAM', 'TRI', 'BAR',
       'DMA', 'GRN', 'SLU', 'SVG', 'AAB', 'SKN', 'MEX', 'BLZ', 'GUA',
       'HON', 'SAL', 'NIC', 'COS', 'PAN', 'COL', 'VEN', 'GUY', 'SUR',
       'ECU', 'PER', 'BRA', 'BOL', 'PAR', 'CHL', 'ARG', 'URU', 'UKG',
       'IRE', 'NTH', 'BEL', 'LUX', 'FRN', 'MNC', 'LIE', 'SWZ', 'SPN',
       'AND', 'POR', 'GMY', 'GFR', 'GDR', 'POL', 'AUS', 'HUN', 'CZE',
       'CZR', 'SLO', 'ITA', 'SNM', 'MLT', 'ALB', 'MNG', 'MAC', 'CRO',
       'YUG', 'BOS', 'KOS', 'SLV', 'GRC', 'CYP', 'BUL', 'MLD', 'ROM',
       'RUS', 'EST', 'LAT', 'LIT', 'UKR', 'BLR', 'ARM', 'GRG', 'AZE',
       'FIN', 'SWD', 'NOR', 'DEN', 'ICE', 'CAP', 'STP', 'GNB', 'EQG',
       'GAM', 'MLI', 'SEN', 'BEN', 'MAA', 'NIR', 'CDI', 'GUI', 'BFO',
       'LBR', 'SIE', 'GHA', 'TOG', 'CAO', 'NIG', 'GAB', 'CEN', 'CHA',
       'CON', 'DRC', 'UGA', 'KEN', 'TAZ', 'BUI', 'RWA', 'SOM', 'DJI',
       'ETH', 'ERI', 'ANG', 'MZM', 'ZAM', 'ZIM', 'MAW', 'SAF', 'NAM',
       'LES', 'BOT', 'SWA', 'MAG', 'COM', 'MAS', 'SEY', 'MOR', 'ALG',
       'TUN', 'LIB', 'SUD', 'IRN', 'TUR', 'IRQ', 'EGY', 'SYR', 'LEB',
       'JOR', 'ISR', 'SAU', 'YAR', 'YEM', 'YPR', 'KUW', 'BAH', 'QAT',
       'UAE', 'OMA', 'AFG', 'TKM', 'TAJ', 'KYR', 'UZB', 'KZK', 'CHN',
       'MON', 'TAW', 'PRK', 'ROK', 'JPN', 'IND', 'BHU', 'PAK', 'BNG',
       'MYA', 'SRI', 'MAD', 'NEP', 'THI', 'CAM', 'LAO', 'DRV', 'RVN',
       'MAL', 'SIN', 'BRU', 'PHI', 'INS', 'ETM', 'AUL', 'PNG', 'NEW',
       'VAN', 'SOL', 'KIR', 'TUV', 'FIJ', 'TON', 'NAU', 'MSI', 'PAL',
       'FSM', 'WSM'], dtype=object)

In [9]:
Age_df.head()

,LocID,Location,VarID,Variant,Time,MidPeriod,AgeGrp,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
0,4,Afghanistan,2,Medium,1950,1950.5,0-4,0,5,630.044,661.578,1291.622
1,4,Afghanistan,2,Medium,1950,1950.5,5-9,5,5,516.206,487.335,1003.541
2,4,Afghanistan,2,Medium,1950,1950.5,10-14,10,5,461.378,423.326,884.704
3,4,Afghanistan,2,Medium,1950,1950.5,15-19,15,5,414.369,369.363,783.732
4,4,Afghanistan,2,Medium,1950,1950.5,20-24,20,5,374.109,318.392,692.501

In [14]:
Age_df['Country'] = Age_df['Location']
Age_df_m = pd.DataFrame(Age_df[['Location', 'Time', 'PopTotal']].groupby(by = ['Location','Time'],as_index = False).sum())
Age_df_m = Age_df.merge(Age_df_m, on = ['Location', 'Time'], how = 'left')
Age_df_m['AgeGrpPct'] = 100* Age_df_m['PopTotal_x']/Age_df_m['PopTotal_y']
Age_df_m = Age_df_m[['Country', 'Time', 'AgeGrp','AgeGrpPct']]
Age_df_m.head()

       Country  Time AgeGrp  AgeGrpPct
0  Afghanistan  1950    0-4  16.661539
1  Afghanistan  1950    5-9  12.945380
2  Afghanistan  1950  10-14  11.412418
3  Afghanistan  1950  15-19  10.109909
4  Afghanistan  1950  20-24   8.933057

In [16]:
Rel_df.head()

,year,state,name,chrstprot,chrstcat,chrstorth,chrstang,chrstothr,chrstgen,judorth,...,othrgenpct,sumreligpct,total,dualrelig,datatype,sourcereliab,recreliab,reliabilevel,Version,sourcecode
0,1945,2,USA,66069671,38716742,1121898,2400000,1956807,110265118,821489,...,0.0039,0.9961,1.0000,0,34,2,10,Medium,1.1,13
1,1950,2,USA,73090083,42635882,3045420,3045420,1177214,122994019,1078078,...,0.0041,0.9959,1.0000,0,34,6,28,Low,1.1,18
2,1955,2,USA,79294628,46402368,3454916,2572767,2277091,134001770,944000,...,0.0193,0.9807,0.9999,0,134,5,10,Medium,1.1,15
3,1960,2,USA,90692928,50587880,3334535,2710065,2908939,150234347,973500,...,0.0076,0.9924,0.9999,0,134,2,10,Medium,1.1,13
4,1965,2,USA,94165803,64761783,4792868,2822149,973155,167515758,991200,...,0.0030,0.9970,1.0001,0,134,8,28,Low,1.1,20